In [36]:
import re
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [30]:
df = pd.read_csv("train.csv")
df.head()

,pair_id,name_1,name_2,is_duplicate
0,1,Iko Industries Ltd.,"Enormous Industrial Trade Pvt., Ltd.",0
1,2,Apcotex Industries Ltd.,Technocraft Industries (India) Ltd.,0
2,3,"Rishichem Distributors Pvt., Ltd.",Dsa,0
3,4,Powermax Rubber Factory,Co. One,0
4,5,Tress A/S,Longyou Industries Park Zhejiang,0

## Статистика таргета

In [31]:
df['is_duplicate'].value_counts()

0    494161
1      3658
Name: is_duplicate, dtype: int64

## Препроцессинг

In [27]:
# Приведение к нижнему регистру
def lower_str(data,column):
    data[column] = data[column].str.lower()

In [28]:
df["name_1"] = lower_str(df, 'name_1')
df["name_2"] = lower_str(df, 'name_2')

## Метрики сходства строк

In [33]:
df = df.dropna()

In [34]:
y = df['is_duplicate'].values
X = df.drop('is_duplicate', axis=1)

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1234, stratify=y)

In [32]:
df

,pair_id,name_1,name_2,is_duplicate
0,1,Iko Industries Ltd.,"Enormous Industrial Trade Pvt., Ltd.",0
1,2,Apcotex Industries Ltd.,Technocraft Industries (India) Ltd.,0
2,3,"Rishichem Distributors Pvt., Ltd.",Dsa,0
3,4,Powermax Rubber Factory,Co. One,0
4,5,Tress A/S,Longyou Industries Park Zhejiang,0
...,...,...,...,...
497814,497815,BIT-MAT PRODUCTS,The Goodyear Tire and Rubber Company,0
497815,497816,"Bnd Trading Co., Ltd.",Zhong Shan Yue Liang Economy& Trade Imp. & Exp...,0
497816,497817,"Xeikon Industrial Co., Ltd. Of Dongguan City","Yi Cheng Trading Co., Ltd. Of Dongguan City",0
497817,497818,"Shanghai Kechuan Trading Co., Ltd.",Shanghai M&G Stationery Inc.,0
497818,497819,Dih Wei Industries Co.,Burlington Industries Corporate,0

In [40]:
train_n1 = X_train['name_1'].to_list()
train_n2 = X_train['name_2'].to_list()
train_n = train_n1 + train_n2

In [42]:
tfidf_veczr = TfidfVectorizer(ngram_range=(1,3))    
tf_corpus=tfidf_veczr.fit_transform(train_n)